# Node / JS
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
*.log

# Build outputs
dist/
build/
public/build/

# Environment
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*~

# Netlify
.netlify/
